---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import ContentListing from "../../components/ContentListing.astro";

const poetryEntries = await getCollection("poetry");
---

<BaseLayout title="Poetry" description="Poetry by Sukriti Kapoor.">
  <h1 class="font-serif font-black text-6xl md:text-7xl lg:text-8xl mb-16">
    Poetry
  </h1>

  <ContentListing entries={poetryEntries} basePath="/poetry" />
</BaseLayout>
