---
import { formatDate, toISODate } from "../utils/format-date";

interface Props {
  title: string;
  date?: Date;
}

const { title, date } = Astro.props;
const formattedDate = formatDate(date);
---

{
  formattedDate && date && (
    <time datetime={toISODate(date)} class="text-accent text-lg mb-2 block">
      {formattedDate}
    </time>
  )
}
<h1 class="font-serif font-black text-4xl md:text-5xl lg:text-6xl mb-8">
  {title}
</h1>
<div class="prose prose-lg max-w-none">
  <slot />
</div>
