---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import ContentListing from "../../components/ContentListing.astro";

const proseEntries = await getCollection("prose");
---

<BaseLayout title="Prose" description="Prose by Sukriti Kapoor.">
  <h1 class="font-serif font-black text-6xl md:text-7xl lg:text-8xl mb-16">
    Prose
  </h1>

  <ContentListing entries={proseEntries} basePath="/prose" />
</BaseLayout>
